body{
    width: 100vw;
    height: fit-content;
}
.nav{
    width: 98%;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid black;
    cursor:pointer;
    border: 1px solid black;
}
.nav h3{
    margin: 10px 25px;
}




#signup-form-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 370px;
    height: auto;
    padding: 15px;
    text-align: center;
    margin: auto;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
}
input{
    margin: 10px 0px;
    width: 350px;
    padding: 10px 10px;
    border-radius: 10px;
}
#submit{
    background-color: rgb(0,128,128);
    border: none;
    color: white;
    width: 50%;
}